{%  extends "layout.html"  %}

{% block content %}

<!doctype html>
<html>
   <body>
        <ul class="list-group">
                <li class="list-group-item">{{  Email }}</li>
                <li class="list-group-item">{{  nacionalidad }}</li>
                <li class="list-group-item">{{  ciudadactual }}</li>
                <li class="list-group-item">{{  celular }}</li>
                <li class="list-group-item">{{  visitantes }}</li>
                <li class="list-group-item">{{  estadia }}</li>
                <li class="list-group-item">{{  motivaciones }} </li>
                <li class="list-group-item">{{  preferencias }} </li>
              </ul>
       'Se ha creado su cuenta con éxito!'
   </body>
</html>

{% endblock %}