{%  extends "layout.html"  %}

{% block content %}

<header class="main-header">
    <div class="background-overlay text-white py-5">
      <div class="container">
        <div class="row d-flex h-100">
          <div class="col-sm-6 text-center justify-content-center align-self-center">
            <h1>
              PLAH!
            </h1>
            <p>Una app para que juegues de local.</p>
            <a href="/about" class="btn btn-outline-secondary btn-lg text-white">
                Como funciona
              </a>
          </div>
          <div class="col-sm-6 back">
            <img src="/static/18.png" width="70%" class="img-fluid d-none d-sm-block background-overlay">
          </div>
        </div>
      </div>
    </div>
  </header>



{% endblock %}